html, body {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Lora, Candal, serif;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: 0;
}
footer {
    border: red 1px solid;
}

footer .footer-bottom {
    color: white;
    background: blue;
    border: white 1px solid;
}